# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
venv/
ENV/
build/
dist/
*.egg-info/
.eggs/

# PyCharm / VS Code / IDE files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Windows
Thumbs.db

# Experiment output
experiments/results/
